vendor/*
nbproject/*
docker/mysql/*
.idea/*
frontend/node_modules/*
react/build/index.html
react/build/index_bundle.js
.env
node/src/node_modules/*
node_modules/*
backup/*
node/src/tmp/*
node/src/token.json
react/build/*
cdn-images/*
frontend/build/*
