body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.markdownScroll {
    height: 600px;
    overflow: auto;
}

.loader {
    background-image: url("./img/831.gif");
    width: 32px;
    height: 32px;
    display: block;
}

.hide {
    display: none;
}

.menuTitle {
  margin-left: 10px;
}

.main-content{
    margin-top: 40px;
    word-break: break-word;
}

.menu {
    background-color: #4E5D6C;
}